# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
ENV/
env/
poetry.lock
.pytest_cache/
.coverage
htmlcov/

# Flutter
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.android/
.ios/
.cocoapods/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Проект
*.log
*.bak
*.sqlite3