# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
ENV/
env/
poetry.lock
.pytest_cache/
.coverage
htmlcov/

# Flutter/Dart
.dart_tool/
.idea/
.gradle/
*.iml
*.lock
*.log
*.swp
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Pods/
linux/flutter/ephemeral/
macos/flutter/ephemeral/
windows/flutter/ephemeral/
.android/
.ios/
.metadata
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.cocoapods/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Mac
.DS_Store

# Проект
*.bak
*.sqlite3